/* ------------------------------------------------- 
9.0 Gutenberg Display Control
------------------------------------------------- */
    .is-root-container {
        font-family: var(--body-font);
    }

    .is-root-container h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--heading-font);
    }

    /* --------
Set Block Widths
-------- */
    .wp-block {
        max-width: var(--width-medium);
    }

    [data-title="Quote"] {
        max-width: var(--width-small);
        width: 90%;
    }

    [data-title="User Card"],
    [data-title="Post Grid"],
    [data-title="Services Grid"],
    [data-title="News Grid"],
    [data-title="Board Members"],
    [data-title="Image & Text"],
    .alignwide {
        max-width: var(--width-xlarge);
        width: 90%;
    }

    [data-title="Simple Banner"],
    [data-title="Home Banner"],
    [data-title="Inner Content Section"],
    [data-title="Content & Image Split"],
[data-title="Split Actions"] {
        max-width: 100%;
    }

    /* --------
End Set Block Widths
-------- */

    /* --------
Notice about Title & mock header/footer
-------- */
    .editor-post-title::before {
        content: 'This is the post title used for reference in the backend. It will not be displayed on the frontend. Content displayed on the page starts below the "Site Header" indicator.';
        padding: 1rem;
        border: 1px solid red;
        margin-top: 2rem;
        display: block;
        font-style: italic;
        font-weight: bold;
    }

    .editor-post-title {
        /* display: none; */
        background: #f0f0f0;
        padding: 0.5rem 2rem;
        border: #f3f3f3;
    }

    .block-editor-block-list__layout.is-root-container::before {
        content: 'Site Header';
        display: block;
        background-color: var(--primary-900);
        color: white;
        text-align: center;
        padding: 1rem;
        font-weight: bold;
        margin-bottom: 4rem;
    }

    .block-editor-block-list__layout.is-root-container::after {
        content: 'Site Footer';
        display: block;
        background-color: var(--primary-900);
        color: white;
        text-align: center;
        padding: 1rem;
        font-weight: bold;
        margin-top: 6rem;
    }

    /* --------
End Notice about Title & mock header/footer
-------- */

    /* --------
Managing Content Flow
-------- */
    .is-root-container>p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 auto;
    }

    .is-root-container>*+* {
        margin-top: 2rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .flow-space-sm {
        margin-top: (var(--spacing)) !important;
        margin-bottom: (var(--spacing)) !important;
    }

    .flow-space-lg {
        margin-top: calc(var(--spacing) * 4) !important;
        margin-bottom: calc(var(--spacing) * 4) !important;
    }

    .flow-space-xl {
        margin-top: calc(var(--spacing) * 6) !important;
        margin-bottom: calc(var(--spacing) * 6) !important;
    }

.flow-space-none {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

    .flow-top-sm {
        margin-top: (var(--spacing)) !important;
    }

    .flow-top-lg {
        margin-top: calc(var(--spacing) * 4) !important;
    }

    .flow-top-xl {
        margin-top: calc(var(--spacing) * 6) !important;
    }

.flow-top-none {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

    /* Top of Page Blocks */
    [data-title="Simple Banner"]:first-child,
    [data-title="Home Banner"]:first-child,
    [data-title="Inner Content Section"]:first-child {
        margin-top: -4rem;
    }

    /* --------
End Managing Content Flow
-------- */

    /* --------
Fixes
-------- */
    /* List Styling Added when it shouldn't be */
    .post-grid-block>ul {
        list-style: none !important;
    }

    [data-type="core/list"] {
        width: 80%;
    }

    [data-type="core/list"]>*+* {
        margin-top: var(--flow, 1.25rem);
    }

    /* Genesis Custom Block Images being streteched */
    div[class^=wp-block-genesis-custom-blocks-] .genesis-custom-blocks-media-controls .gcb-image__img,
    .edit-post-settings-sidebar__panel-block .components-panel__body .genesis-custom-blocks-media-controls .gcb-image__img,
    .gcb-editor .genesis-custom-blocks-media-controls .gcb-image__img {
        width: auto !important;
    }

    /* --------
End Fixes
-------- */

    /* ------------------------------------------------- 
End Gutenberg Display Control
------------------------------------------------- */