/* --------
Set Block Widths
-------- */
    .wp-block {
        max-width: var(--width-medium);
    }

    /* Genesis Custom Blocks with alignsmall */
    [data-title="Quote"], .alignsmall {
        max-width: var(--width-small);
        width: 90%;
    }
    
    /* Genesis Custom Blocks with alignlarge */
    .alignlarge {
        max-width: var(--width-large);
        width: 90%;
    }

    /* Genesis Custom Blocks with alignwide */
    [data-title="User Card"],
    [data-title="Post Grid"],
    [data-title="Services Grid"],
    [data-title="News Grid"],
    [data-title="Board Members"],
    [data-title="Image & Text"],
    .alignwide {
        max-width: var(--width-xlarge);
        width: 90%;
    }

    /* Genesis Custom Blocks with alignfull */
    [data-title="Simple Banner"],
    [data-title="Home Banner"],
    [data-title="Inner Content Section"],
    [data-title="Content & Image Split"],
[data-title="Split Actions"], .alignfull {
        max-width: 100%;
    }

    /* --------
End Set Block Widths
-------- */

    /* --------
Notice about Title & mock header/footer
-------- */
    .editor-post-title::before {
        content: 'This is the post title used for reference in the backend. It will not be displayed on the frontend. Content displayed on the page starts below the "Site Header" indicator.';
        padding: 1rem;
        border: 1px solid red;
        margin-top: 2rem;
        display: block;
        font-style: italic;
        font-weight: bold;
    }

    .editor-post-title {
        /* display: none; */
        background: #f0f0f0;
        padding: 0.5rem 2rem;
        border: #f3f3f3;
    }

    .block-editor-block-list__layout.is-root-container::before {
        content: 'Site Header';
        display: block;
        background-color: var(--primary-900);
        color: white;
        text-align: center;
        padding: 1rem;
        font-weight: bold;
        margin-bottom: 4rem;
    }

    .block-editor-block-list__layout.is-root-container::after {
        content: 'Site Footer';
        display: block;
        background-color: var(--primary-900);
        color: white;
        text-align: center;
        padding: 1rem;
        font-weight: bold;
        margin-top: 6rem;
    }

    /* --------
End Notice about Title & mock header/footer
-------- */

    /* --------
Managing Content Flow to reflect the frontend
-------- */

    .wp-block {
        margin-bottom: unset;
    }

    .is-root-container>*+* {
        margin-top: 2rem;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .flow-space-sm {
        margin-top: (var(--spacing));
        margin-bottom: (var(--spacing));
    }

    .flow-space-lg {
        margin-top: calc(var(--spacing) * 4);
        margin-bottom: calc(var(--spacing) * 4);
    }

    .flow-space-xl {
        margin-top: calc(var(--spacing) * 6);
        margin-bottom: calc(var(--spacing) * 6);
    }

    .flow-space-none {
        margin-top: 0;
        margin-bottom: 0;
    }

    .flow-top-sm {
        margin-top: (var(--spacing));
    }

    .flow-top-lg {
        margin-top: calc(var(--spacing) * 4);
    }

    .flow-top-xl {
        margin-top: calc(var(--spacing) * 6);
    }

    .flow-top-none {
        margin-top: (var(--spacing));
    }

    .flow-bottom-sm {
        margin-bottom: (var(--spacing));
    }

    .flow-bottom-lg {
        margin-bottom: calc(var(--spacing) * 4);
    }

    .flow-bottom-xl {
        margin-bottom: calc(var(--spacing) * 6);
    }

    .flow-bottom-none {
        margin-bottom: (var(--spacing));
    }


    /* Top of Page Blocks */
    [data-title="Simple Banner"]:first-child {
        margin-top: -4rem;
    }

    /* --------
End Managing Content Flow
-------- */

    /* --------
Fixes
-------- */
    /* List Styling Added when it shouldn't be */
    .post-grid-block>ul {
        list-style: none !important;
    }

    [data-type="core/list"] {
        width: 80%;
    }

    [data-type="core/list"]>*+* {
        margin-top: var(--flow, 1.25rem);
    }

    /* Genesis Custom Block Images being streteched */
    div[class^=wp-block-genesis-custom-blocks-] .genesis-custom-blocks-media-controls .gcb-image__img,
    .edit-post-settings-sidebar__panel-block .components-panel__body .genesis-custom-blocks-media-controls .gcb-image__img,
    .gcb-editor .genesis-custom-blocks-media-controls .gcb-image__img {
        width: auto !important;
    }

    /* --------
End Fixes
-------- */